.form {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
}
.btn{
  font-weight: bold;
}
form {
  padding: 5rem;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
}
.form-text{
    color:white;
    opacity: 0.5;
}
