<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div *ngFor="let group of chunkedMovies; let i = index" [class.active]="i === 0" class="carousel-item">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3" *ngFor="let movie of group">
          <a>
            <img [src]="movie.poster_path" class="d-block w-100" [alt]="movie.title" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
